extends layout.jade
block content
    script(type='text/javascript').
      var svg = dimple.newSvg("body", 1900, 800);
      svg.append("rect")
       .attr("x", "8px")
       .attr("y", "8px")
       .attr("width", "100%")
       .attr("height", "100%")
       .style("fill", "rgb(222, 230, 237)");
      var data = [
            { "_id" : "Business Minor", "avgF" : 0.013333333333333334 },
            { "_id" : "Renewable/Sustain Enrgy Inst", "avgF" : 0 },
            { "_id" : "Curr Emphasis in Soc Respnsbly", "avgF" : 0 },
            { "_id" : "Jewish Studies", "avgF" : 0.014375 },
            { "_id" : "Indonesian", "avgF" : 0.06 },
            { "_id" : "Music Electives", "avgF" : 0.02223684210526313 },
            { "_id" : "Baker Residential Acad Prgm", "avgF" : 0.009166666666666667 },
            { "_id" : "Asian Studies", "avgF" : 0.045 },
            { "_id" : "Naval Science", "avgF" : 0.007083333333333334 },
            { "_id" : "Military Science", "avgF" : 0.015714285714285715 },
            { "_id" : "Air Force Aerospace Studies", "avgF" : 0.014615384615384613 },
            { "_id" : "Thesis Music", "avgF" : 0 },
            { "_id" : "Performance Music", "avgF" : 0.00946524064171123 },
            { "_id" : "Music", "avgF" : 0.014325068870523417 },
            { "_id" : "Music Ensemble", "avgF" : 0.008161209068010072 },
            { "_id" : "Journalism", "avgF" : 0.006133751306165093 },
            { "_id" : "Museum", "avgF" : 0 },
            { "_id" : "Telecommunications", "avgF" : 0.005123456790123458 },
            { "_id" : "Civil Engineering", "avgF" : 0.012965299684542563 },
            { "_id" : "Architectural Engineering", "avgF" : 0.019850746268656707 },
            { "_id" : "Systems", "avgF" : 0.01948275862068966 },
            { "_id" : "Real Estate", "avgF" : 0.0032467532467532465 },
            { "_id" : "Marketing", "avgF" : 0.013645161290322573 },
            { "_id" : "Management", "avgF" : 0.008463687150837985 },
            { "_id" : "MBA Advanced Electives", "avgF" : 0.0006666666666666668 },
            { "_id" : "MBA Core", "avgF" : 0.0010071942446043167 },
            { "_id" : "Law School", "avgF" : 0.0006479217603911981 },
            { "_id" : "Mathematics", "avgF" : 0.08232908458864432 },
            { "_id" : "Finance", "avgF" : 0.0171137026239067 },
            { "_id" : "Business Law", "avgF" : 0.0016666666666666668 },
            { "_id" : "East Asian Langs & Civilzatns", "avgF" : 0.04142857142857143 },
            { "_id" : "Business Administration", "avgF" : 0.0033333333333333335 },
            { "_id" : "Accounting", "avgF" : 0.01564705882352941 },
            { "_id" : "Theatre", "avgF" : 0.016499133448873455 },
            { "_id" : "Dance", "avgF" : 0.013269230769230757 },
            { "_id" : "Sewall Residential Acad Prgm", "avgF" : 0.009722222222222222 },
            { "_id" : "Economics", "avgF" : 0.04026266416510326 },
            { "_id" : "Portuguese", "avgF" : 0.012142857142857146 },
            { "_id" : "Peace & Conflict Studies", "avgF" : 0.02710526315789475 },
            { "_id" : "Operations & Information MGMT", "avgF" : 0.0175 },
            { "_id" : "HNDI", "avgF" : 0.03333333333333333 },
            { "_id" : "Spanish", "avgF" : 0.02092558983666063 },
            { "_id" : "Geological Sciences", "avgF" : 0.015210449927431029 },
            { "_id" : "Speech, Language & Hearing Sci", "avgF" : 0.010566448801742899 },
            { "_id" : "Writing and Rhetoric", "avgF" : 0.02205256940342572 },
            { "_id" : "Classics", "avgF" : 0.031439588688945974 },
            { "_id" : "Arts & Sciences Courses", "avgF" : 0.025874999999999992 },
            { "_id" : "Neuroscience", "avgF" : 0.020508474576271193 },
            { "_id" : "Sustainablty&Soc Innovtn  RAP", "avgF" : 0 },
            { "_id" : "Communication Res Acad Prgm", "avgF" : 0.016578947368421054 },
            { "_id" : "American Studies", "avgF" : 0.032 },
            { "_id" : "Sociology", "avgF" : 0.028507042253521096 },
            { "_id" : "Political Science", "avgF" : 0.02769154228855724 },
            { "_id" : "Integrative Physiology", "avgF" : 0.03626331074540174 },
            { "_id" : "Ecology & Evolutionary Biology", "avgF" : 0.022974051896207538 },
            { "_id" : "International Affairs", "avgF" : 0.014774193548387103 },
            { "_id" : "Physical Education", "avgF" : 0 },
            { "_id" : "Physics", "avgF" : 0.03754385964912277 },
            { "_id" : "Linguistics", "avgF" : 0.024086956521739106 },
            { "_id" : "History", "avgF" : 0.028236754966887365 },
            { "_id" : "Hindi", "avgF" : 0.024 },
            { "_id" : "Scandinavian", "avgF" : 0.0216949152542373 },
            { "_id" : "Aerospace Engineering", "avgF" : 0.006999999999999997 },
            { "_id" : "American Indian Studies", "avgF" : 0.0033333333333333335 },
            { "_id" : "Russian", "avgF" : 0.029458333333333312 },
            { "_id" : "Leadership Res Acad Prgrm", "avgF" : 0.012207792207792213 },
            { "_id" : "Arabic Languages", "avgF" : 0.024875000000000008 },
            { "_id" : "Art History", "avgF" : 0.021562499999999995 },
            { "_id" : "Architecture", "avgF" : 0.016363636363636365 },
            { "_id" : "Italian", "avgF" : 0.038100890207715156 },
            { "_id" : "Swedish", "avgF" : 0.016666666666666666 },
            { "_id" : "Global Studies Res Acad Prgm", "avgF" : 0.06 },
            { "_id" : "Anthropology", "avgF" : 0.019524969549330046 },
            { "_id" : "Education", "avgF" : 0.0047294776119402955 },
            { "_id" : "French", "avgF" : 0.02828711256117456 },
            { "_id" : "Humanities for Engineers", "avgF" : 0.009398148148148152 },
            { "_id" : "Film Studies", "avgF" : 0.010745098039215677 },
            { "_id" : "ATLAS", "avgF" : 0.008067226890756306 },
            { "_id" : "Religious Studies", "avgF" : 0.025284552845528437 },
            { "_id" : "Geography", "avgF" : 0.022826603325415633 },
            { "_id" : "Afroamerican Studies", "avgF" : 0.004 },
            { "_id" : "Womens Studies", "avgF" : 0.01690582959641255 },
            { "_id" : "Business Core", "avgF" : 0.020678733031674158 },
            { "_id" : "Art Film Studies", "avgF" : 0 },
            { "_id" : "Medieval & Early Modern Stdys", "avgF" : 0.08 },
            { "_id" : "Psychology", "avgF" : 0.022779552715654933 },
            { "_id" : "Environmental Design", "avgF" : 0.018329596412556045 },
            { "_id" : "Norlin Scholars", "avgF" : 0.006666666666666667 },
            { "_id" : "Chicano/a Studies", "avgF" : 0.014444444444444446 },
            { "_id" : "Asian American Studies", "avgF" : 0.05 },
            { "_id" : "Chinese", "avgF" : 0.022227488151658766 },
            { "_id" : "Farrand Residential Acad Prgm", "avgF" : 0.011363636363636364 },
            { "_id" : "Farsi", "avgF" : 0.016666666666666666 },
            { "_id" : "Honors", "avgF" : 0.0058000000000000005 },
            { "_id" : "Environmental Studies", "avgF" : 0.010418250950570342 },
            { "_id" : "Leadership Minor", "avgF" : 0 },
            { "_id" : "Engineering Honors", "avgF" : 0.0032 },
            { "_id" : "Chemical Engineering", "avgF" : 0.017386363636363603 },
            { "_id" : "INVST Community Studies", "avgF" : 0.006190476190476192 },
            { "_id" : "Presidents Leadership Class", "avgF" : 0.0009302325581395349 },
            { "_id" : "Applied Math", "avgF" : 0.06350649350649347 },
            { "_id" : "English", "avgF" : 0.02291583566015166 },
            { "_id" : "Korean", "avgF" : 0.01571428571428572 },
            { "_id" : "Ethnic Studies", "avgF" : 0.020993150684931496 },
            { "_id" : "Libby Residential Acad Prgm", "avgF" : 0.00574468085106383 },
            { "_id" : "Convocation Music", "avgF" : 0 },
            { "_id" : "German", "avgF" : 0.031879350348027836 },
            { "_id" : "Environmental Engineering", "avgF" : 0.010714285714285714 },
            { "_id" : "Japanese", "avgF" : 0.03326771653543305 },
            { "_id" : "Philosophy", "avgF" : 0.03378716744913937 },
            { "_id" : "Communication", "avgF" : 0.016892895015906607 },
            { "_id" : "Art Studio and Non-Studio", "avgF" : 0.012485681557846509 },
            { "_id" : "Center for Western Civilizatio", "avgF" : 0.03166666666666667 },
            { "_id" : "Comparative Literature", "avgF" : 0 },
            { "_id" : "Lesbn/Gay/Bisexual Stdys", "avgF" : 0.04 },
            { "_id" : "Career Services", "avgF" : 0 },
            { "_id" : "Astrophysical & Planetary Sci", "avgF" : 0.030160771704180023 },
            { "_id" : "Engineering Management", "avgF" : 0.011467889908256885 },
            { "_id" : "Center of the American West", "avgF" : 0.015074626865671644 },
            { "_id" : "Humanities", "avgF" : 0.031499999999999986 },
            { "_id" : "Chemistry", "avgF" : 0.02927033492822964 },
            { "_id" : "General Engineering", "avgF" : 0.011885964912280701 },
            { "_id" : "International Business Cert", "avgF" : 0.013000000000000001 },
            { "_id" : "Entrepren & Small Bus Mgmt", "avgF" : 0.00411764705882353 },
            { "_id" : "Atmospheric & Oceanic Sciences", "avgF" : 0.018855835240274576 },
            { "_id" : "Hebrew", "avgF" : 0.01788732394366197 },
            { "_id" : "Mechanical Engineering", "avgF" : 0.008931451612903214 },
            { "_id" : "Electrical & Computer Engr", "avgF" : 0.01880327868852456 },
            { "_id" : "Computer Science", "avgF" : 0.032133620689655126 },
            { "_id" : "Molecular Cell & Dev Biology", "avgF" : 0.021522346368715063} 

      ];
      var chart = new dimple.chart(svg, data);
      chart.addCategoryAxis("x", "_id");
      chart.addMeasureAxis("y", "avgF");
      chart.addSeries(null, dimple.plot.bar);
      chart.draw();