a.button(href='/course/easy') Easy Class
a.button(href='/course/hard') Hard Class
a.button(href='/department/list') Departments
a.button(href='/instructor/list') Instructors
a.button(href='/graph') Graph
a.button(href='/graph2') Graph2