a.button(href='/course/easy') Easy Class
a.button(href='/course/hard') Hard Class
a.button(href='/department/list') Upper Division
a.button(href='/department/list') Lower Division
a.button(href='/search') Search