extends layout.jade

block content
 h5 Search
  div.row
    div.column.8
        form
              br
              br
              br
              | Department:
              br
              input(type='text', name='dept')
              br
              | Average Grade:
              br
              input(type='text', name='lastname')
              br
              input(type='button', onclick='/department/list/dept', value='Submit')
                                   
                       
 