
script(type='text/javascript').
  var data=!{JSON.stringify(course)};
  var svg = dimple.newSvg("body", 1200, 400)
  svg.append("rect")
      .attr("x", "8px")
      .attr("y", "8px")
      .attr("width", "100%")
      .attr("height", "100%")
      .style("fill", "rgb(222, 230, 237)");
  var myChart = new dimple.chart(svg, data);
  myChart.setBounds(60, 30, 900, 305);
  var x = myChart.addCategoryAxis("x", "YearTerm");
  x.addOrderRule("Date");
  var y = myChart.addCategoryAxis("y", "AVG_GRD");
  var c = myChart.addCategoryAxis("z", "insname1")
  y.overrideMin =0
  var s = myChart.addSeries(["insname1", "CourseTitle"], dimple.plot.bubble);
  var z = myChart.addSeries(null, dimple.plot.line);
  myChart.addLegend(850, 50, 380, 320, "right");
  myChart.draw();