script(type='text/javascript').
  var data=!{JSON.stringify(course)};
  var svg = dimple.newSvg("body", 1000, 600)
  var myChart = new dimple.chart(svg, data);
  myChart.setBounds(60, 30, 900, 305);
  var x = myChart.addCategoryAxis("x", "YearTerm");
  x.addOrderRule("Date");
  myChart.addCategoryAxis("y", "AVG_GRD");
  var s = myChart.addSeries(null, dimple.plot.line);
  myChart.draw();